/*
 Theme Name:   LightBox Challenge
 Theme URI:    https://wesm1.sg-host.com/
 Description:  The child theme for the LightBox Code Challenge 
 Author:       Wes Morrison
 Author URI:   http://wesm1.sg-host.com/
 Template:     twentytwentyone
 Version:      1.0.0s
*/

/* -------------------------
 * Styles ------------------
 * -------------------------
 */
@font-face{
    font-family: "Averta";
    src:url("fonts/Averta-Bold.ttf") format("truetype"),
    url("fonts/averta-boldaverta-bold.woff") format("woff"),
    url("fonts/Averta-Regular.ttf") format("woff"),
    url("fonts/averta-regularaverta-regular.woff") format("woff"),
}
h1, h2, h3, h4, h5, h6,
p { 
    font-family: "Averta", sans-serif !important; 
}
body {
    background: #fff;
}
/* Accent colour for final word in header headline */
.accent-color {
    color: #09D36c;
}
.small-paragraph {
	line-height: 1.2;
}
.bigger-paragraph {
	font-size: xx-large;
}
/* -------------------------
* Site Identity------------
* -------------------------
*/
.site-branding p,
.menu-item a {
    color: #fff !important;
}
.site-title a {
    color: #fff !important;	
    font-weight: 700;
    font-size: 160%;
}
.site-title a:hover {
    color: #09D36c !important;
}
.site-description {
    line-height: 0 !important;
    letter-spacing: 1px;
    font-size: 75%;
}
/* -------------------------
* NAVIGATION --------------
* -------------------------
*/
/* Remove link styles */
a { 
    text-decoration:none !important;
}
/* -------------------------
* Mobile menu--------------
* -------------------------
*/
/* Posiiton and prepare mobile navigation */
#site-navigation {
    height: 100vh;
    position: absolute;
    top: 0;
}
.primary-navigation-open .menu-button-container {
    position: absolute;
    background: transparent;
}
.primary-menu-container {
    margin-top: 30px;/* move menu items below logo*/
}
.primary-navigation-open .primary-navigation>.primary-menu-container {
    background: transparent;
}
/* Add logo to mobile menu */
span.dropdown-icon.close::before {
	content: "";
	visibility: visible;
	background: url('http://wesm1.sg-host.com/wp-content/uploads/2021/04/envira-footer-logo.png');
    background-size: cover;
	height: 100px;
    width: 200px;
    position: absolute;
    left: 0;
}
/* mobile menu links */
.primary-navigation-open .primary-menu-container li {
    height: 40px;
    padding: 0;
}
/* Seperate contact button from other menu items */
.primary-menu-container ul li:nth-child(4) {
    margin-top: 55px;
    margin-left: -70px;
}
.primary-navigation-open .primary-menu-container a {
    text-align: left;
}
.primary-navigation-open .primary-menu-container .callout-menu-btn a {
    text-align: center;
    outline: #fff solid 1px;
    margin-bottom: 0;
    width: 40%;
    padding: .7rem 2rem!important;
    font-weight: 300;
    font-size: small;
}
.mobile-menu-btn {
    background: green;
	margin-left: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 10px !important;
}
/* See media queries for menu visability control */
/* Custom mobile hamburger */
.dropdown-icon.open {
    color: transparent !important;
    background-image: url("http://wesm1.sg-host.com/wp-content/uploads/2021/04/flipped.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    margin-right: 10px;
}
span.close {
    visibility: hidden;
}
.close::after {
    content: "";
    display: block !important;
    visibility: visible;
    background-image: url("http://wesm1.sg-host.com/wp-content/uploads/2021/04/iconfinder_cancel_circle_1303876.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}
/* Remove the dotted outline on mobile menu */
#primary-mobile-menu,
#primary-mobile-menu:focus,
#primary-mobile-menu:active,
#primary-mobile-menu:visited,
#primary-mobile-menu:hover {
    outline: 0 !important;
}
/* Style the navigation menu */
/* Be better to apply .btn class to .menu-wrapper?	 */
.menu-wrapper li {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
 }
 /* Hide menu except for .callout-menu-btn on screens without enough space */
.collapse-menu-item {
    display: none !important;
}
/* Center navigation */
.primary-navigation {
    margin: 0 auto;
}
/* Outlined menu item */
/* .callout-menu-btn a {
    outline: #fff solid 1px;
    position: absolute;
    top: -20px;
    right: -100px;			
} */
.menu-wrapper a:hover {
    color: #09d36c !important;
}
.callout-menu-btn a:hover {
    color: black !important;
    background: #fff;
}
/* -------------------------
* Custom Header -----------
* -------------------------
*/
/* Set header image height to viewport */
.header-overlay {
    height: 100vh;
}
.site-header {
    margin-top: -3%;
}
.hero-header-position {
    position: absolute;
    top: 20%;
    width: 100%;
    overflow: hidden;/* Stop .diagonal-cut extending beyond the viewport width	 */
}
.hero-header {
    height: 115vh;
    overflow: hidden;
    position:relative; 
    background: none;
}
/* Angular crop to header hero image */
/* https://stackoverflow.com/questions/29259935/cutting-image-diagonally-with-css */
/* .hero-header::after  */
.diagonal-cut {
    position: absolute;
    top: 65%;
    left: -10%;
    height: 25%;
    width: 140%;
    background: #fff;
    -webkit-transform: rotate(7deg);
    -moz-transform: rotate(-7deg);
    transform: rotate(7deg);
}
.hero-header p {
    line-height: 1.3;
}
/* -------------------------
* Icon Cards --------------
* -------------------------
*/
/* Move icon card row closer to the header overlay image*/
.icon-card-row {
    position: absolute;
    top: 85%;
}
.card {
    height: 100%;
}
.card-img-top {
    margin: auto auto;/* .icon-background display: flex 	 */
    width: 65px;
    height: 65px;
}
/* Create a circle background for icon */
.icon-background {
    display: flex;/* Make flex so we can use margin: auto auto to center icon	 */
    margin: 0 auto;
    width: 125px;
    height: 125px;
    border-radius:100%;
    border: 2px solid #00CC66;
    background: #00CC66;
}
.card-body {
    display: flex;
    flex-direction: column;
}
.card-title {
    padding: 0 3rem;
    font-weight: 400;
    line-height: 1.1;
}
.card-text {
    padding: 0 1.5rem;
    line-height: 1.1;
    font-weight: 400;
    margin-top: auto;
}
.card-padding {
    padding: 3.5rem 0;	
}
/* -------------------------
* Footer --------------
* -------------------------
*/
.footer-overlay {
    background: #3399ff;
}
.footer-position {
    padding-top: 35px;
}
.footer-container {
    color: #fff;
}
.footer-margin-bottom {
    height: 50px;
}
.footer-services {
display: none;
}
#menu-lightbox-footer {
	list-style-type: none;
    padding-left: 0;
}
#menu-lightbox-footer li a:hover {
	color: #09D36c !important;
}
/* -------------------------
* Bootstrap overwrites------
* -------------------------
*/
/* Edit default bootstrap button */
.btn {
    padding: .5rem 2rem .5rem 2rem;
}
/* -------------------------
* Media Queries -----------
* -------------------------
*/
/* show a second set of menu items and then hide them at 480 */
@media (min-width: 482px) {
    /* 	WordPress mobile menu break max-width: 481 */
	.mobile-menu-btn {
		display: none !important;
		visibility: hidden !important;
	}
span.dropdown-icon.close::before {
	visibility: hidden;
}	
	#site-navigation {
		/* remove mobile menu styling*/
		position: relative;
 		background: transparent !important;
	}
.callout-menu-btn a {
    outline: #fff solid 1px;
    /* Position menu outside of natural DOM context */
    position: absolute;
    top: -20px;
    right: -100px;			
}	
}
@media (min-width: 500px) { 
      /* Re-posiiton hero-header below collapsed menu */
      .hero-header-position {
          top: 30%;
      } 
      .diagonal-cut {
          top: 55%;
      }	
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
      /* Re-posiiton hero-header below collapsed menu */
      .hero-header-position {
          top: 25%;
       } 	
      /* Remove mobile menu background styles */
      .primary-navigation-open .menu-button-container {
          background: none;
      }
      .primary-navigation-open .primary-menu-container {
          background: none;
      }
      /* Remove margins from menu contact button */
      .primary-menu-container ul li:nth-child(4) {
          margin-top: 0;
          margin-left: 0;
      }	
      .diagonal-cut {
          top: 60%;
      }	
      .icon-cards-row {
          margin-top: -17%;/* Position closer to header overlay */
      }	
      .card-deck {
          /* Prevent card-deck creating scrolling outside viewport width  */
          margin-left: 0;
          margin-right: 0;
      }
		/* Keep spacing between cards when stacked due to .card-deck {margin: 0;} above */
	  .col-lg-4 {
		  padding-bottom: 2rem;
	  }
}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
 
      .diagonal-cut {
         top: 69%;
       }
}/* Close media */
/* // Large devices (desktops, 992px and up iphone) */
@media (min-width: 992px) { 
		.site-title {
         font-size: 160%;
		}
		.site-description {
			font-size: 100%;
		}      
       /* Pseudo Bootstrap button in menu nav*/
      .callout-menu-btn {
         left: +10%;
      }
      .footer-services {
		display:inline-block;
	}
}
@media (min-width: 789px) {
	    /* Unhide menu items */
       .collapse-menu-item {
          display: inline !important;
       }
      .callout-menu-btn a {
        /* Position menu inside of natural DOM context */
          position: revert;			
       }	
}
/* // X-Large devices (large desktops, 1200px and up) laptop*/
@media (min-width: 1200px) {
  
       /* Pseudo Bootstrap button in menu nav*/
       .callout-menu-btn {
          left: +20%;
        }
 }
 /* // XX-Large devices (larger desktops, 1400px and up) */
 @media (min-width: 1400px) {
  
 }